<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
  <style>
    button:disabled {
      pointer-events: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
  </style>
</head>

<body>
<div class="container">
  <h1 class="mt-5">Product List</h1>

  <!-- Create 버튼 -->
  <form th:action="@{/products/new}" method="get" style="display:inline;">
    <button type="submit" class="btn btn-primary mb-3"
            th:disabled="${not #authorization.expression('hasRole(''ADMIN'')')}">
      Create New Product
    </button>
  </form>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <td>
        <!-- Edit 버튼 -->
        <form th:action="@{'/products/edit/' + ${product.id}}" method="get" style="display:inline;">
          <button type="submit" class="btn btn-primary btn-sm"
                  th:disabled="${not #authorization.expression('hasRole(''ADMIN'')')}">
            Edit
          </button>
        </form>

        <!-- Delete 버튼 -->
        <form th:action="@{'/products/delete/' + ${product.id}}" method="get" style="display:inline;">
          <button type="submit" class="btn btn-danger btn-sm"
                  th:disabled="${not #authorization.expression('hasRole(''ADMIN'')')}">
            Delete
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Bootstrap JS fragment 삽입 -->
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
