<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common :: commonHead}">
  <title>Product Manager</title>
</head>

<body>
<div class="container">
  <h1 class="mt-5">Product List</h1>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <form th:action="@{/products/new}" method="get">
      <button type="submit" class="btn btn-primary"
              th:disabled="${not #authorization.expression('hasRole(''ADMIN'')')}">
        Create New Product
      </button>
    </form>

    <form th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-danger btn-sm">Logout</button>
    </form>
  </div>

  <!-- 상품 테이블 -->
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <td>
        <form th:action="@{'/products/edit/' + ${product.id}}" method="get" style="display:inline;">
          <button type="submit" class="btn btn-primary btn-sm"
                  th:disabled="${not #authorization.expression('hasRole(''ADMIN'')')}">
            Edit
          </button>
        </form>
        <form th:action="@{'/products/delete/' + ${product.id}}" method="get" style="display:inline;">
          <button type="submit" class="btn btn-danger btn-sm"
                  th:disabled="${not #authorization.expression('hasRole(''ADMIN'')')}">
            Delete
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- 로그인 성공 시 팝업 -->
<script th:if="${param.login}">
  setTimeout(function() {
    alert("로그인을 성공했습니다!")
  }, 100); // 100ms 뒤에 팝업 실행

</script>

<!-- Bootstrap JS 삽입 -->
<div th:replace="~{common :: commonScript}"></div>
</body>
</html>
